* {
margin: 0 auto;
padding: 0;

}

/* ############################ Body ############################ */

body {
position: relative; 
max-width: 100%;
height: auto;

}

/* ############################ Teksti ############################ */

p {
font-family: 'IBM Plex Mono', monospace;
color: #F2BB77;
font-size:2vw;
font-weight: 300;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

.text-light {
font-family: 'IBM Plex Mono', monospace;
font-size:2vw;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
color: #F2BB77;
}

a {
color:#d8b70f;
cursor:pointer;
font-weight:400;
color: inherit;
text-decoration: none;
border-bottom: 2px solid #fff3;

}

a:hover {
border-bottom-color: #fff9;
}

p a:hover {
font-family: 'IBM Plex Mono', monospace;
background: rgb(0,0,0,0);
color: #d8b70f;
cursor:pointer;
text-decoration:underline;
font-weight:400;
font-size:2vw;

}

/* ############################ Images ############################ */

img {
width: 100%;
height:auto;
}

.display-3 {
padding-top: 20px;
}

/* ############################ h1, h2, h3, h4, h5, h6 ############################ */

h1 {
font-size: 8vw;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-weight: 400;
text-transform: uppercase;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h2, h5 {
color: #F2BB77;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h3 {
color: white;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
font-size:3vw;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h4 {
font-size: 22px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h6 {
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
font-size:18px;
padding-top: 20px;
padding-bottom: 20px;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;

}

h6:hover {

font-family: 'IBM Plex Sans Condensed', sans-serif;
background: rgb(0,0,0,0);
color: #93D8FF;
cursor:pointer;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;

}

/* ############################ Geeks ############################ */

.geeks { 
display: block;
width: 50%; 
height: 2px; 
background: #F2BB77;
position: absolute; 
top: 0%; 
left: 0%; 
transform: translate(-50%, -50%); 
z-index: 1;
margin-top: 15px;
} 

.geeks::before { 
display: block;
content: ""; 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background: #A63117;
animation: animate 7s linear infinite; 
} 

@keyframes animate { 
0% { 
  left: 0; 
} 

50% { 
  left: 100%; 
} 

0% { 
  left: 0; 
} 
} 

/* ############################ Header ############################ */

.header {

display: inline-block;
position: relative;
opacity:0.85;
width: 100%;
height: auto;
color: white;
font-size: 30px;
}

.upbanner h1 {
position: absolute;
text-align: left;
top: 0%;
text-shadow: 2px 2px 8px #000000;
margin: 15px;
width: 60%;
--animate-duration: 3.5s;

}

.upbanner p {
position: absolute;
top: 100%;
right: 8px;
font-size: 3vw;
text-transform: uppercase;
--animate-duration: 4.5s;
}

/* ############################ Section headers ############################ */

.osaaminen-h1, .cv-h1, .kontakti-h1, .minusta-h1 {
padding-top: 50px;
}



/* ############################ Videoscreen ############################ */

*#videoScreen {
filter:blur(5px);
position: fixed;
top:0;
left:0;
width: 100%;
height:100vh;
object-fit: fill;
z-index:-1;
}

/* ############################ Navbar ############################ */

.navbar a{
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
color: #F2BB77;
font-size: 2vw;

}

.bg-dark {
opacity: 0.85;
padding: 10px;
}

/* ############################ Sections ############################ */

.section {
width: 100%;
height: 200vh;
display: flex;
justify-content: center;
color: #ffffff;
}

/* ############################ Upbanner ############################ */

.socialmedialinks .fa-facebook-f{

padding-right:15px;
}

.upbanner .socialmedialinks .fa-linkedin{

padding-right:15px;
}

.upbanner .socialmedialinks .fa-instagram{

padding-right:15px;
}

.socialmedialinks {
color:#ffffff;
z-index: 5;


}

.upbanner{
position: absolute;
font-size: 5vw;
text-transform: uppercase;
text-align: right;
width: 100%;
right: 2%

}

/* ############################ Scroll up ############################ */


/* ############################ Columns ############################ */

.col-md-6 {
width: 50%;
height: auto;

}

.harrastukset {
padding-top: 20px;
}