* {
margin: 0 auto;
padding: 0;

}

/* ############################ Body ############################ */

body {
position: relative; 
max-width: 100%;
height: auto;

}

/* ############################ Teksti ############################ */

p {
font-family: 'IBM Plex Mono', monospace;
color: #F2BB77;
font-size:2vw;
font-weight: 300;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

.text-light {
font-family: 'IBM Plex Mono', monospace;
font-size:2vw;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
color: #F2BB77;
}

a {
font-size: 1.8vw;
color:#d8b70f;
cursor:pointer;
font-weight:400;
color: inherit;
text-decoration: none;
border-bottom: 2px solid #fff3;

}

a:hover {
border-bottom-color: #fff9;
}

p a:hover {
font-family: 'IBM Plex Mono', monospace;
background: rgb(0,0,0,0);
color: #d8b70f;
cursor:pointer;
text-decoration:underline;
font-weight:400;
font-size:2vw;

}

/* ############################ Images ############################ */

img {

width: 100%;
height:auto;

}

.display-3 {

padding-top: 20px;

}

/* ############################ h1, h2, h3, h4, h5, h6 ############################ */

h1 {

font-size: 8vw;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-weight: 400;
text-transform: uppercase;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;

}

h2, h5 {
color: #F2BB77;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h3 {
color: white;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
font-size:3vw;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h4 {
font-size: 22px;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

h6 {
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
font-size:18px;
padding-top: 20px;
padding-bottom: 20px;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;

}

h6:hover {

font-family: 'IBM Plex Sans Condensed', sans-serif;
background: rgb(0,0,0,0);
color: #93D8FF;
cursor:pointer;
text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;

}

/* ############################ PROFILE IMAGE ############################ */
.
profile-image {

  animation: profile-image 2s linear 0s 1 normal forwards;

}
@keyframes profile-image {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* ############################ Header ############################ */

.scale-up-center {
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {

  display: inline-block;
  position: relative;
  opacity:0.85;
  width: 100%;
  height: auto;
  color: white;
  font-size: 30px;
}

.upbanner{
  display: block;
  position: absolute;
  font-size: 5vw;
  text-transform: uppercase;
  text-align: right;
  width: 100%;
  right: 2%

}

.upbanner h1 {
  position: absolute;
  text-align: left;
  top: 0%;
  text-shadow: 2px 2px 8px #000000;
  width: 60%;
  font-size: 5vw;
  margin-left: 40px;
  --animate-duration: 3.5s;

}

.upbanner p {
  position: absolute;
  text-align: left;
  top: 45%;
  text-shadow: 2px 2px 8px #000000;
  width: 60%;
  font-size: 5vw;
  margin-left: 40px;
  --animate-duration: 4.5s;

}

/* ############################ VIDEOSCREEN ############################ */

*#videoScreen {
filter:blur(5px);
position: fixed;
top:0;
left:0;
width: 100%;
height:100vh;
object-fit: fill;
z-index:-1;
}

/* ############################ NAVBAR ############################ */

.navbar a{

font-family: 'IBM Plex Sans Condensed', sans-serif;
text-transform: uppercase;
color: #F2BB77;
font-size: 2vw;

}

.nav {
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 2.5vw;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}

/* ############################ SECTIONS ############################ */

.section {
width: 100%;
height: auto;
display: flex;
color: #ffffff;
}

.minusta-h1, .cv-h1, .osaaminen-h1 {
  height: auto;
  padding-top: 50px;

}

.kontakti-h1 {
  height: auto;
  padding-bottom: %;
}

/* ############################ SOCIAL MEDIA LINKS ############################ */

.socialmedialinks .fa-facebook-f{

  font-size: 3vw;
  padding-right:15px;
}

.upbanner .socialmedialinks .fa-linkedin{

  font-size: 3vw;
  padding-right:15px;
}

.upbanner .socialmedialinks .fa-instagram{

  font-size: 3vw;
  padding-right:15px;
}

.socialmedialinks {

  color:#ffffff;
  z-index: 5;

}

/* ############################ LANGUAGES ICON CSS ############################ */

.carousel-inner {
  height: 0;
  padding-bottom: 120%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%; /* Bootstrap handles width already */
  object-fit: contain; /* or 'contain' if you want stretch instead of crop */
}

/* ############################ Scroll up ############################ */

#myBtn {
  display: block;
  width: 10%;
  height: 10%;
  display: none;
  position: fixed;
  bottom: 10%;
  right: 0%;
  z-index: 99;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
 
  opacity: 0.45;
}

#myBtn:hover {
  background-color: transparent;
}

/* ############################ Columns ############################ */

.col-md-6 {
  width: 50%;
  height: auto;

}

.harrastukset {
  padding-top: 20px;
}

.customForm{
  margin-top: 5%;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 200px;
}

/* ############################ Breakpoints ############################ */

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

  body {
 
  }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {

  body {
   
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

body {
  padding-left: 50px;
  padding-right: 50px;
  
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

body {
  padding-left: 70px;
  padding-right: 70px;
  
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

body {
  padding-left: 200px;
  padding-right: 200px;
  
  }
}
