* {
  margin: 0 auto;
  padding: 0;
}

body {
  position: relative; 
  max-width: 100%;
  height: auto;
  background-size:cover;

}

p {
    font-family: 'IBM Plex Sans', auto;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
}

a {
    color:#ffffff;
    cursor:pointer;
    text-decoration:none;
    font-weight:400;
}

p a:hover {
   
   background: rgb(0,0,0,0);
   color: #93D8FF;
   cursor:pointer;
   text-decoration:underline;
   font-weight:300;
   font-size: 18px;
   
}

img {
    width: 100%;
    height:auto;
}

h1 {
    font-size: 8vw;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2, h5 {
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   text-transform: uppercase;
}

h3 {
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   text-transform: uppercase;
   font-size:24px;
}

h4 {
   font-size: 22px;
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   text-transform: uppercase;
}

h6 {
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   text-transform: uppercase;
   font-size:18px;
   padding-top: 20px;
   padding-bottom: 20px;
   
}

h6:hover {
   
   font-family: 'IBM Plex Sans Condensed', sans-serif;
   background: rgb(0,0,0,0);
   color: #93D8FF;
   cursor:pointer;
   
}

/* ############################ Header ############################ */

  
  /* Header/Logo Title */
  .header {
    
    display: block;
    position: relative;
    opacity:0.85;
    max-width: 100%;
    height: auto;
    color: white;
    font-size: 30px;
  }

  .header h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    text-shadow: 2px 2px 8px #000000;
    margin: auto;
    width: 100%;
    padding: 10px;
    --animate-duration: 3.5s;
    
  }

  .header p {
    position: absolute;
    top: 70%;
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 8px #000000;
    margin: auto;
    width: 100%;
    padding: 10px;
    --animate-duration: 4.5s;
  }

  #videoScreen {
    filter:blur(3px);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
    z-index:-1;
  }

  .navbar .navbar-brand {
    display: block;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    
  }

  .navbar a{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-transform: uppercase;
  }

  .section {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

/*UPBANNER*/

.socialmedialinks a .fa-facebook-f{
	color:#ffffff;
	padding-right:15px;
}

.upbanner .socialmedialinks .fa-linkedin{
	color:#ffffff;
	padding-right:15px;
}

.upbanner .socialmedialinks .fa-instagram{
	color:#ffffff;
	padding-right:15px;
}

.upbanner{
    position: absolute;
    right: 10%;
    font-size: 5vw;
    text-transform: uppercase;
    text-align: right;
    text-shadow: 2px 2px 8px #000000;
    margin: auto;
    width: 100%;
    padding: 10px;
    
    
}



